<!DOCTYPE html>
<html>
<head>
  <title>ScheduleManagementSystem</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>

  <script>
  document.addEventListener('DOMContentLoaded', () => {
    const notices = document.querySelectorAll('.alert');
    notices.forEach(notice => {
      // Check if the flash message is for successful schedule creation
      if (notice.innerText.includes('Schedule successfully created')) {
        // Show the message for a longer duration
        setTimeout(() => {
          notice.style.display = 'none';
        }, 5000); // Hide after 10 seconds for successful schedule creation
      } else {
        // Hide other flash messages after 5 seconds
        setTimeout(() => {
          notice.style.display = 'none';
        }, 5000); // Hide after 5 seconds for other flash messages
      }
    });
  });
</script>

</head>

<body>

<%= render 'schedules/navbar' %>

<!-- Flash messages -->
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible fade show" role="alert">
    <%= value %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
<!-- End flash messages -->

<%= yield %>

<!-- Include Bootstrap JavaScript -->
<%= javascript_include_tag "application", "data-turbo-track": "reload" %>
<%= javascript_importmap_tags %>

</body>
</html>
